/*color*/
$primary-color:#333333;
$secondary-color:#467dc3;
$tertiary-color:#3f3f3f;
$white-color: #ffffff;
$red-color:#ff0000;
$yellow-color:#e5b418;
$dark-yellow:#ae8b0b;
$orange-color:#e87624;
$dark-orange-color:#e58416;
$green-color:#5fa30f;
$order-status-color:#474747;
$thead-color:#6d6e72;
$bg-blue:#3d86c6;
$blue-border:#cfdbea;
$burger-color:#2b2b2b;
$grey-border: #efefef;
$form-bg:#ebebeb;
$heading-color:#ea7926;
$sub-title:#3f3f3f;
$text-content:#333333;

$table-border-color:#f2f2f2;
$border-bottom: #eeeeee;
$grey-text: #777777;
$model-labels: #c4c4c4;
$black-color:#000;
$light-grey-color:#949494;
$placeholder-color:#cdcdcd;
$bg-color:#09213b;
$page-divider:#667586;

$bg-card-title:#123C61;
$dark-blue:#1e5585;
$deep-dark-blue: #011423;
$extra-light-blue:#c4d9ed;

$light-gray:#f1f2f2;
$hint-grey:#abacad;
$label-color:#404041;

$panel-heading-blue:rgba(255,255,255,0.2);
$panel-body-blue:rgba(255,255,255,0.1);
$alert-blue-bg:#2A5F8F;
$light-green:#b0bc25;
$transparent:transparent;
$error-text:#db4f4f;
$no-color:none;
$tooltip-bg: #3d84c4;

/* Sidenavbar */ 
$sidemenu-bg: #123A5F;
$sidemenu-active: #092341;

/*fonts*/
$primary-font: 'Gotham';
$font-light: 'Gotham-Light';
$font-medium: 'Gotham-Medium';
$font-bold: 'Gotham-Bold';
$font-book: 'Gotham-Book';


/*shadows*/
$shadows: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 0 $light-gray inset;
$shadow-bottom: 0 3px 3px rgba(0, 0, 0, 0.09), 0 0 0 $light-gray inset;
