.faq-container{
    ul li.ct-card{
        margin-top:1.4285714285714286rem;
        &:first-child{
            margin-top:0;
        }
        h5{
            font-family: $font-medium;
            font-size: 1rem;
            color: $orange-color;
            padding-bottom: 0.6rem;
            text-transform: uppercase;
            border-bottom: 1px solid #f1f0f0;
            margin-bottom: 0.7142857142857143rem;
        }
    }
}